<template>
  <b-container fluid>
    <b-avatar />
    <h2>{{ customer?.fullName }}</h2>
    <h3 class="text-right">פרטים אישיים -</h3>
    <b-row>
      <b-col>
        <p class="text-light">גיל - {{ customer?.age ?? "לא הוזן" }}</p>
        <p class="text-light">
          מגדר -
          {{ customer?.gender ? GenderToText[customer.gender] : "לא הוזן" }}
        </p>
      </b-col>
      <b-col>
        <p class="text-light">
          תאריך לידה -
          {{ new Date(customer?.birthday ?? "").toLocaleDateString() }}
        </p>
        <p class="text-light">תעודת זהות - {{ customer?.id }}</p>
      </b-col>
    </b-row>
    <div class="dropdown-divider" />
    <b-row class="mt-3">
      <b-col>
        <p class="text-light">
          משקל -
          {{ customer?.weight ? customer.weight + ' ק"ג' : "לא הוזן" }}
        </p>
        <p class="text-light">
          גובה - {{ customer?.height ? customer.height + ' ס"מ' : "לא הוזן" }}
        </p>
      </b-col>
      <b-col>
        <p class="text-light">
          אחוז שומן -
          {{
            customer?.fat_precentage ? customer.fat_precentage + "%" : "לא הוזן"
          }}
        </p>
        <div class="text-light">
          <p>
            מגבלות רפואיות -
            {{ !customer.medical_notes ? "לא הוזנו מגבלות" : "" }}
          </p>
          <ul v-if="customer.medical_notes">
            <li v-for="note in customer.medical_notes.split(',')" :key="note">
              {{ note }}
            </li>
          </ul>
        </div>
      </b-col>
    </b-row>
    <div class="d-flex flex-column align-items-start">
      <div class="w-100 my-3">
        <h3 class="text-right">הערות</h3>
        <b-form-textarea v-model="customer.comments" placeholder="רשמו הערות" />
      </div>
      <div class="w-100 my-3">
        <h3 class="text-right">המטרה</h3>
        <b-form-textarea
          v-model="customer.target"
          placeholder="הזינו למתאמנ/ת מטרה מתאימה"
        />
      </div>
    </div>
    <b-button class="w-50" @click="submit" pill variant="primary"
      >שמירה</b-button
    >
  </b-container>
</template>

<script lang="ts">
// This view is when an employee selects a customer.
import { Customer, CustomerEntry } from "@/definitions/Customer";
import Vue, { defineComponent, ref } from "vue";
import { useDetailsStore } from "@/stores/detailsStore";
import { useCustomersStore } from "@/stores/customersStore";
import { GenderToText } from "@/definitions/User";

export default defineComponent({
  setup() {
    // Initialize store and reactive data
    const detailsStore = useDetailsStore();
    const customersStore = useCustomersStore();
    const customer = ref<Partial<Customer & CustomerEntry>>({
      target: "",
      comments: "",
    });

    // Function to be called when an employee updates a customer's target or comments.
    const submit = async () => {
      if (customersStore.selectedCustomerId) {
        await detailsStore.updateUserDetails(
          { target: customer.value.target, comments: customer.value.comments },
          customersStore.selectedCustomerId
        );
        await Vue.swal({ icon: "success", title: "הפרטים עודכנו בהצלחה" });
      }
    };
    return {
      customer,
      GenderToText,
      submit,
    };
  },
  async created() {
    // Load the customer data from the server if not available locally
    this.customer = (await useCustomersStore().fetchCustomerDetails()) ?? {
      target: "",
      comments: "",
    };
  },
});
</script>

<style scoped>
.btn-group > .btn {
  margin-inline: 1rem !important;
}
</style>
