<template>
  <b-container fluid>
    <CustomerViewHeading
      :showBack="name?.includes('menus-')"
      :title="title"
      v-if="!meta?.hideHeader"
    />
    <router-view />
    <CustomerViewFooter v-if="!meta?.hideFooter" />
  </b-container>
</template>

<script lang="ts">
// This is the Container for all employee views after you pick a customer.
// It includes the header and footer and configuration for when to show/hide them.
import { defineComponent, toRefs } from "vue";
import CustomerViewHeading from "@/components/Employees/CustomerViewHeading.vue";
import CustomerViewFooter from "@/components/Employees/CustomerViewFooter.vue";
import { useRoute } from "vue-router/composables";

const routeToTitle = {
  goals: "יעדים אישיים של ",
  trainingPlans: "בניית תוכנית אימונים ל",
  menus: "בניית תפריט ל",
};

export default defineComponent({
  components: { CustomerViewHeading, CustomerViewFooter },
  setup() {
    // Get route metadata and calculate title from it
    const { meta, name } = toRefs(useRoute());
    const title =
      routeToTitle[meta?.value?.titleKey as keyof typeof routeToTitle];

    return {
      meta,
      name,
      title,
    };
  },
});
</script>
