<template>
  <div class="mb-3">
    <b-row class="justify-content-between">
      <div>
        <b-avatar class="ml-3" />
        <span class="text-light">{{
          customer.fullName + ", " + customer.age
        }}</span>
      </div>
      <b-button @click="toDetails" variant="outline-secondary"
        ><b-icon icon="chevron-left"
      /></b-button>
    </b-row>
    <div class="dropdown-divider" />
  </div>
</template>

<script lang="ts">
import { CustomerEntry } from "@/definitions/Customer";
import { useCustomersStore } from "@/stores/customersStore";
import { defineComponent, PropType } from "vue";
import { useRouter } from "vue-router/composables";

export default defineComponent({
  props: {
    customer: {
      type: Object as PropType<CustomerEntry>,
      required: true,
    },
  },
  setup(props) {
    const router = useRouter();
    const customersStore = useCustomersStore();

    const toDetails = () => {
      customersStore.selectCustomer(props.customer.id);
      router.push("/customers/details");
    };

    return { toDetails };
  },
});
</script>
