<template>
  <div class="my-3">
    <img src="/target.png" width="32" height="32" />
    <span class="mx-3 text-light">
      <b>המטרה - </b>
      {{ target }}
    </span>
  </div>
</template>

<script lang="ts">
import { useCustomersStore } from "@/stores/customersStore";
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const target = ref("עדיין לא נקבעה");
    return {
      target,
    };
  },
  async created() {
    this.target =
      (await useCustomersStore().fetchCustomerDetails())?.target ??
      "עדיין לא נקבעה";
  },
});
</script>
