<template>
  <header class="d-flex justify-content-between my-3">
    <b-button
      v-if="showBack"
      @click="back"
      class="ml-3"
      variant="outline-secondary"
      ><b-icon icon="chevron-right"
    /></b-button>
    <h3>{{ title + customerDetails?.fullName }}</h3>
    <b-avatar />
  </header>
</template>

<script lang="ts">
import { Customer } from "@/definitions/Customer";
import { useCustomersStore } from "@/stores/customersStore";
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router/composables";

export default defineComponent({
  props: {
    title: {
      type: String,
      default: "תפריט מיוחד ל",
    },
    subTitle: {
      type: String,
      default: "מידע כללי - ",
    },
    showBack: Boolean,
  },
  setup() {
    const customerDetails = ref<Customer>();
    const router = useRouter();
    const back = () => router.back();

    return {
      back,
      customerDetails,
    };
  },
  async created() {
    this.customerDetails = await useCustomersStore().fetchCustomerDetails();
  },
});
</script>
