<template>
  <b-form v-bind:id="id" @submit="onSubmit">
    <b-form-group>
      <b-form-input
        v-model="cardData.cardNumber"
        type="text"
        placeholder="מספר כרטיס*"
        required
      />
    </b-form-group>
    <b-form-group>
      <b-form-input
        type="date"
        v-model="cardData.expiryDate"
        placeholder="תאריך תפוגה*"
        required
      />
    </b-form-group>
    <b-form-group>
      <b-form-input
        v-model="cardData.securityCode"
        type="text"
        placeholder="קוד אבטחה*"
        required
      />
    </b-form-group>
    <b-form-group>
      <b-form-input
        v-model="cardData.ownerName"
        type="text"
        placeholder="שם בעל הכרטיס"
        required
      />
    </b-form-group>

    <b-form-group>
      <b-form-input
        v-model="cardData.payments"
        placeholder="תשלומים"
        type="number"
        required
      />
    </b-form-group>
    <b-button class="w-50" type="submit" variant="primary"
      >שמירה ורכישה</b-button
    >
  </b-form>
</template>

<script lang="ts">
import { useDetailsStore } from "@/stores/detailsStore";
import { defineComponent, reactive } from "vue";

export default defineComponent({
  props: {
    id: {
      type: String,
    },
    buttonText: {
      type: String,
    },
    onFinish: {
      type: Function,
    },
  },
  setup(props) {
    const cardData = reactive({
      cardNumber: null,
      expiryDate: "",
      securityCode: null,
      ownerName: "",
      payments: null,
    });
    const detailsStore = useDetailsStore();
    const onSubmit = async (event: FormDataEvent) => {
      event.preventDefault();
      detailsStore.finishCreditCardForm(cardData);
      props.onFinish?.();
    };

    return {
      onSubmit,
      cardData,
    };
  },
});
</script>
