<template>
  <b-form v-bind:id="id" @submit="onSubmit">
    <b-form-group>
      <b-form-input
        v-model="user.firstName"
        placeholder="שם פרטי:"
        maxlength="20"
        required
      />
    </b-form-group>
    <b-form-group>
      <b-form-input
        v-model="user.lastName"
        placeholder="שם משפחה:"
        maxlength="20"
        required
      />
    </b-form-group>
    <b-form-group>
      <b-form-textarea
        v-model="user.address"
        placeholder="כתובת:"
        maxlength="60"
        required
      />
    </b-form-group>
    <b-form-group v-slot="{ ariaDescribedby }">
      <b-form-radio
        button
        class="m-3"
        v-bind:button-variant="
          user.gender === option.value ? 'primary' : 'secondary'
        "
        v-for="option in genders"
        :key="option.value"
        v-model="user.gender"
        :aria-describedby="ariaDescribedby"
        :value="option.value"
        >{{ option.text }}</b-form-radio
      >
    </b-form-group>
    <b-form-group class="align-right text-light" label="תאריך לידה">
      <b-form-input
        dark
        v-model="user.birthday"
        required
        type="date"
        placeholder="תאריך לידה"
        locale="he"
      />
    </b-form-group>
    <b-form-group class="align-right">
      <b-form-input
        v-model="user.id"
        placeholder="תעודת זהות"
        maxlength="9"
        type="text"
        required
      />
    </b-form-group>
    <b-button pill class="w-50" type="submit" variant="primary">{{
      buttonText
    }}</b-button>
  </b-form>
</template>

<script lang="ts">
import { GenderToText } from "@/definitions/User";
import { useUserStore } from "@/stores/userStore";
import { defineComponent, reactive } from "vue";

export default defineComponent({
  props: {
    id: {
      type: String,
    },
    buttonText: {
      type: String,
    },
    onFinish: {
      type: Function,
    },
  },
  setup(props) {
    const userStore = useUserStore();
    const user = reactive({
      id: userStore.user?.id ?? "",
      firstName: userStore.user?.first_name ?? "",
      lastName: userStore.user?.last_name ?? "",
      birthday: userStore.userBirthDate,
      gender: userStore.user?.gender ?? "U",
      address: userStore.user?.address ?? "",
    });
    const onSubmit = (event: FormDataEvent) => {
      event.preventDefault();

      props.onFinish?.(user);
    };

    return {
      onSubmit,
      user,
      genders: Object.keys(GenderToText).map((key) => ({
        text: GenderToText[key as keyof typeof GenderToText],
        value: key,
      })),
    };
  },
});
</script>

<style scoped>
.align-right {
  text-align: right;
}
</style>
