<template>
  <div>
    <b-form-select v-model="branch" :options="branches"></b-form-select>
    <b-card-group class="mt-3 horizontal-deck" fluid deck>
      <SubscriptionCard
        class="m-2"
        v-for="subscription in subscriptions"
        :key="subscription.title"
        :title="subscription.title"
        :price="subscription.price"
        :features="subscription.features"
        :onSelect="onSelectSubscription"
      />
    </b-card-group>
  </div>
</template>

<script lang="ts">
import SubscriptionCard from "@/components/PersonalInfo/SusbcriptionCard.vue";
import { useDetailsStore } from "@/stores/detailsStore";
import { defineComponent, ref } from "vue";

export default defineComponent({
  components: { SubscriptionCard },
  props: {
    onFinish: Function,
  },
  setup(props) {
    const detailsStore = useDetailsStore();
    const branches = [
      { value: null, text: "בחר סניף" },
      { value: "גבעתיים", text: "גבעתיים" },
      { value: "חולון", text: "חולון" },
      { value: "רמת גן", text: "רמת גן" },
    ];
    const basicFeatures = [
      "מנוי חודשי ללא התחייבות",
      'דמי רישום 148 ש"ח חד פעמי',
      `תשלום פיקדון צ'יפ על סך 50 ש"ח שחוזרים אלייך בסוף המנוי`,
    ];
    const subscriptions = [
      {
        title: "מנוי כולל הכל",
        price: 149,
        features: [...basicFeatures, "המנוי כולל את מגוון החוגים במכון"],
      },
      {
        title: "מנוי נוער",
        price: 99,
        features: [
          ...basicFeatures,
          "רישום מתחת לגיל 16",
          "שעות הפעילות למנוי א-ה 6:00 - 17:30",
        ],
      },
      {
        title: 'מנוי סופ"ש',
        price: 99,
        features: [...basicFeatures, "הכניסה תקפה רק בימי שישי ושבת"],
      },
    ];
    const branch = ref(null);

    const onSelectSubscription = (title: string) => {
      const sub = subscriptions.find((item) => item.title === title);
      if (sub && branch) {
        detailsStore.finishSubscriptionForm(sub);
        props.onFinish?.();
      }
    };

    return {
      branches,
      branch,
      subscriptions,
      onSelectSubscription,
    };
  },
});
</script>
