<template>
  <b-card>
    <div class="d-flex justify-content-between">
      <h4>{{ title }}</h4>
      <h3>{{ price }}$</h3>
    </div>
    <ul class="text-right">
      <li v-for="feature in features" :key="feature">
        {{ feature }}
      </li>
      <b-button
        pill
        class="mt-4"
        variant="primary"
        @click="() => onSelect?.(title)"
        >רכישה</b-button
      >
    </ul>
  </b-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
  props: {
    title: String,
    price: Number,
    features: { type: Array as PropType<string[]>, required: true },
    onSelect: Function,
  },
});
</script>
