<template>
  <b-container fluid>
    <b-row class="mb-2">
      <b-button
        v-if="showBack"
        @click="() => (back ? back() : defaultBack())"
        class="ml-3"
        variant="outline-secondary"
        ><b-icon icon="chevron-right"
      /></b-button>
      <h1 class="md text-light">{{ title }}</h1>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router/composables";

export default defineComponent({
  props: {
    title: String,
    back: {
      type: Function,
    },
    showBack: {
      type: Boolean,
    },
  },
  setup() {
    const router = useRouter();

    return {
      defaultBack: () => router.back(),
    };
  },
});
</script>
