<template>
  <b-container fluid>
    <b-row>
      <h3>רשימת המתאמנים שלך -</h3>
    </b-row>
    <div class="m-3">
      <CustomerItem
        v-for="customer in customersData"
        :customer="customer"
        :key="customer.id"
      />
    </div>
  </b-container>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import CustomerItem from "../../components/Employees/CustomerItem.vue";
import { CustomerEntry } from "@/definitions/Customer";
import { useCustomersStore } from "@/stores/customersStore";

export default defineComponent({
  setup() {
    const customersData = ref<CustomerEntry[]>([]);
    return {
      customersData,
    };
  },
  async created() {
    this.customersData = await useCustomersStore().fetchCustomers();
  },
  components: { CustomerItem },
});
</script>
