<template>
  <div>
    <b-form-select class="my-3" :options="machines" v-model="selectedMachine" />
    <b-button
      :disabled="selectedMachine === null"
      :to="`/trainingPlans/register/${selectedMachine}`"
      pill
      variant="primary"
      class="w-50 mt-3"
      >שריון מכשיר</b-button
    >
  </div>
</template>

<script lang="ts">
import { useMachineStore } from "@/stores/machinesStore";
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const machines = ref<{ text: string; value: number | null }[]>([
      { text: "איזה מכשיר ?", value: null },
    ]);
    const selectedMachine = ref<number | null>(null);

    return { machines, selectedMachine };
  },
  async created() {
    const machineStore = useMachineStore();
    const machines = await machineStore.getMachines();

    this.machines.push(
      ...machines.map(({ machine_id, machine_name }) => ({
        text: machine_name,
        value: machine_id,
      }))
    );
  },
});
</script>
