<template>
  <b-card-group class="mt-5" deck>
    <b-card v-for="program in programs" :key="program.program_id">
      <template #header>{{ program.description }}</template>
      <div class="text-right">
        <b-row>
          <b-col> מכשיר - {{ program.machine_name }} </b-col>
        </b-row>
        <b-row class="align-items-center justify-content-between">
          <ul>
            <li v-if="program.repetition">{{ program.repetition }} חזרות</li>
            <li v-if="program.set_num">{{ program.set_num }} סטים</li>
            <li v-if="program.rest_mins">{{ program.rest_mins }} דקות מנוחה</li>
          </ul>
          <b-button
            v-if="onClick"
            @click="() => onClick?.(program)"
            variant="primary"
            pill
            ><b-icon icon="pencil"
          /></b-button>
          <b-button
            v-else
            :to="`/trainingPlans/register/${program.machine_id}`"
            variant="primary"
            pill
            >+</b-button
          >
        </b-row>
      </div>
      <template #footer v-if="program.comments">
        {{ program.comments }}
      </template>
    </b-card>
  </b-card-group>
</template>

<script lang="ts">
import { TrainingProgram } from "@/definitions/TrainingProgram";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  props: {
    programs: Array as PropType<TrainingProgram[]>,
    onClick: Function,
  },
});
</script>
