<template>
  <b-card-group deck fluid>
    <b-card v-for="(workout, key) in CategoryToName" :key="workout">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h3 class="text-primary">{{ key }}</h3>
          <h3 class="mr-2 text-dark">אימון {{ workout }}</h3>
        </div>
        <b-button pill variant="primary" :to="to + '/' + key"
          ><b-icon icon="chevron-left"
        /></b-button>
      </div>
    </b-card>
  </b-card-group>
</template>

<script lang="ts">
import { CategoryToName } from "@/definitions/WorkoutCategories";
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    to: String,
  },
  setup() {
    return {
      CategoryToName,
    };
  },
});
</script>
