<template>
  <b-modal
    header-bg-variant="dark"
    header-text-variant="light"
    body-bg-variant="dark"
    body-text-variant="light"
    footer-bg-variant="dark"
    footer-text-variant="light"
    footer-class="justify-center"
    @hidden="hide"
    centered
    :visible="show"
  >
    <template #modal-header="{ close }">
      <h5>הוספת מאכל</h5>
      <b-button size="sm" @click="close()"> X </b-button>
    </template>
    <b-form-group>
      <b-form-input v-model="form.name" type="text" placeholder="איזה מאכל?" />
    </b-form-group>
    <b-form-group>
      <b-form-input
        v-model="form.calories"
        type="number"
        placeholder="כמה קלוריות?"
      />
    </b-form-group>
    <b-form-group>
      <b-form-input
        v-model="form.gram"
        type="number"
        placeholder="כמה גרמים?"
      />
    </b-form-group>
    <template #modal-footer>
      <b-button
        :disabled="!form.calories || !form.gram || !form.name"
        pill
        @click="onSubmit"
        variant="primary"
        type="submit"
      >
        שמירה</b-button
      >
    </template>
  </b-modal>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
export default defineComponent({
  props: {
    onFinish: {
      type: Function,
      required: true,
    },
    show: {
      type: Boolean,
      required: true,
    },
    hide: {
      type: Function,
      required: true,
    },
  },
  setup({ onFinish }) {
    const form = reactive({ name: "", calories: null, gram: null });
    const onSubmit = () => {
      onFinish(form);
    };

    return {
      form,
      onSubmit,
    };
  },
});
</script>
