<template>
  <b-modal
    :visible="open"
    @hidden="close"
    centered
    body-bg-variant="dark"
    header-bg-variant="dark"
    footer-bg-variant="dark"
  >
    <template #modal-header="{ close }">
      <h5>הוספת ארוחה</h5>
      <b-button size="sm" @click="close()"> X </b-button>
    </template>
    <b-form>
      <b-form-group
        class="text-right"
        label="בחרו מאכלים"
        label-for="select-foods"
      >
        <b-form-select
          id="select-foods"
          multiple
          v-model="form.food_type"
          :options="foodOptions.map((item) => ({ text: item, value: item }))"
          required
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="סהכ קלוריות"
          v-model="form.sum_calories"
          required
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="סהכ חלבונים (גרם)"
          v-model="form.sum_protein"
          required
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="סהכ פחמימות (גרם)"
          v-model="form.sum_carbohydrates"
          required
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="סהכ שומנים (גרם)"
          v-model="form.sum_fats"
          required
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="משקל הארוחה (גרם)"
          v-model="form.gram"
          required
        />
      </b-form-group>
    </b-form>
    <template #modal-footer>
      <b-button block variant="primary" @click="onSubmit"> הוספה </b-button>
    </template>
  </b-modal>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { useMealStore } from "@/stores/mealStore";
import { storeToRefs } from "pinia";

export default defineComponent({
  props: {
    open: Boolean,
    close: Function,
    submit: Function,
  },
  setup(props) {
    const { foodOptions } = storeToRefs(useMealStore());
    const form = reactive<{
      food_type: string[];
      sum_calories?: string;
      sum_protein?: string;
      sum_carbohydrates?: string;
      sum_fats?: string;
      gram?: string;
    }>({
      food_type: [],
      sum_calories: undefined,
      sum_protein: undefined,
      sum_carbohydrates: undefined,
      sum_fats: undefined,
      gram: undefined,
    });
    const onSubmit = (event: FormDataEvent) => {
      event.preventDefault();
      if (
        form.food_type.length &&
        form.sum_calories &&
        form.sum_carbohydrates &&
        form.sum_fats &&
        form.sum_protein &&
        form.gram
      ) {
        props.submit?.({
          sum_calories: parseInt(form.sum_calories),
          food_type: form.food_type.join(","),
          sum_carbohydrates: parseInt(form.sum_carbohydrates),
          sum_fats: parseInt(form.sum_fats),
          sum_protein: parseInt(form.sum_protein),
          gram: parseInt(form.gram),
        });
      }
    };

    return {
      form,
      foodOptions,
      onSubmit,
    };
  },
  async created() {
    const mealStore = useMealStore();
    await mealStore.refreshPreferences();
  },
});
</script>
