<template>
  <div class="d-flex column">
    <div>
      <img width="32" height="32" :src="`/${icon}.png`" />
    </div>
    <div class="mr-2">
      <span class="text-light">{{ data }}</span>
      <p class="text-light">{{ title }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    icon: {
      type: String,
      required: true,
    },
    data: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
  components: {},
});
</script>
<style>
.dark-highlight {
  color: white;
}
</style>
