<template>
  <b-card align="right">
    <b-card-header
      class="d-flex align-items-center justify-content-around"
      header-text-variant="primary"
    >
      <p>{{ mealText + "\n" + recommendation }}</p>
      <b-button
        @click="() => onRouteClick?.(mealType)"
        variant="outline-primary"
        ><b-icon icon="chevron-left"
      /></b-button>
    </b-card-header>
    <b-card-body>
      <b-card-text>{{ meal?.sum_calories ?? 0 }} קל'</b-card-text>
      <b-card-text class="small text-muted">{{
        `פחמימות ${meal?.sum_carbohydrates ?? 0} גרם * שומנים ${
          meal?.sum_fats ?? 0
        } גרם * חלבונים ${meal?.sum_protein ?? 0} גרם`
      }}</b-card-text>
    </b-card-body>
  </b-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import {
  Meal,
  mealRecommendations,
  MealTypes,
  mealTypesToText,
} from "@/definitions/Meals";
export default defineComponent({
  props: {
    meal: Object as PropType<Partial<Meal>>,
    mealType: {
      type: Number as PropType<MealTypes>,
      required: true,
    },
    onRouteClick: {
      type: Function,
    },
  },
  setup({ meal, mealType }) {
    const mealText = `ארוחת ${mealTypesToText[mealType]}`;
    const recommendation = `המלצה ${mealRecommendations[mealType]} קל'`;

    return { mealText, recommendation };
  },
});
</script>
