<template>
  <b-card
    align="right"
    footer-bg-variant="primary"
    footer-text-variant="light"
    footer-border-variant="secondary"
    :footer="footerText"
  >
    <b-card-header>
      <div class="d-flex justify-content-between align-items-center">
        הארוחה שלי
        <b-icon icon="heart" />
      </div>
    </b-card-header>
    <b-card-body>
      <div v-for="food in foods" :key="food">
        {{ food }}
        <div class="dropdown-divider" />
      </div>
    </b-card-body>
  </b-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
  props: {
    foods: {
      type: Array as PropType<string[]>,
      required: true,
    },
    sumCalories: {
      type: Number,
      required: true,
    },
  },
  setup({ sumCalories }) {
    const footerText = `סה"כ ${sumCalories} קל ' `;

    return {
      footerText,
    };
  },
});
</script>
