<template>
  <b-row>
    <b-col
      class="my-2"
      cols="6"
      v-for="(meal, key) in mealTypesToText"
      :key="meal"
    >
      <b-card>
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="text-primary">{{ meal }}</h3>
          <b-button pill variant="outline-primary" :to="to + '/' + key"
            ><b-icon icon="chevron-left"
          /></b-button>
        </div>
      </b-card>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import { mealTypesToText } from "@/definitions/Meals";
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    to: String,
  },
  setup() {
    return {
      mealTypesToText,
    };
  },
});
</script>
