<template>
  <b-card align="right">
    <b-card-header>
      <b-row>
        <b-form-radio v-if="!hideRadio" class="mr-1" :value="index">
        </b-form-radio>
        <span class="mx-2">אופציה מס' {{ index + 1 }}</span>
        <span class="mr-5">{{ footerText }}</span>
      </b-row>
    </b-card-header>
    <b-card-body>
      <div v-for="food in foods" :key="food">
        {{ food }}
        <div class="dropdown-divider" />
      </div>
    </b-card-body>
  </b-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
  props: {
    foods: {
      type: Array as PropType<string[]>,
      required: true,
    },
    sumCalories: {
      type: Number,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
    hideRadio: Boolean,
  },
  setup({ sumCalories }) {
    const footerText = `סה"כ ${sumCalories ?? 0} קל' `;
    return {
      footerText,
    };
  },
});
</script>
