<template>
  <b-modal
    header-bg-variant="dark"
    header-text-variant="light"
    body-bg-variant="dark"
    body-text-variant="light"
    footer-bg-variant="dark"
    footer-text-variant="light"
    footer-class="justify-center"
    @hidden="hide"
    centered
    :visible="show"
  >
    <template #modal-header="{ close }">
      <h5>רק עוד כמה פרטים אחרונים</h5>
      <b-button size="sm" @click="close()"> X </b-button>
    </template>
    <b-form-group>
      <b-form-input
        v-model="form.sum_carbohydrates"
        type="text"
        placeholder="סה'כ פחמימות"
      />
    </b-form-group>
    <b-form-group>
      <b-form-input
        v-model="form.sum_fats"
        type="number"
        placeholder="סה'כ שומנים"
      />
    </b-form-group>
    <b-form-group>
      <b-form-input
        v-model="form.sum_protein"
        type="number"
        placeholder="סה'כ חלבונים"
      />
    </b-form-group>
    <template #modal-footer>
      <b-button
        :disabled="
          !form.sum_carbohydrates || !form.sum_fats || !form.sum_protein
        "
        pill
        @click="onSubmit"
        variant="primary"
        type="submit"
      >
        שמירה</b-button
      >
    </template>
  </b-modal>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
export default defineComponent({
  props: {
    onFinish: {
      type: Function,
      required: true,
    },
    show: {
      type: Boolean,
      required: true,
    },
    hide: {
      type: Function,
      required: true,
    },
  },
  setup({ onFinish }) {
    const form = reactive({
      sum_carbohydrates: null,
      sum_fats: null,
      sum_protein: null,
    });
    const onSubmit = () => {
      onFinish(form);
    };

    return {
      form,
      onSubmit,
    };
  },
});
</script>
