<template>
  <b-card class="mb-2 ml-2" bg-variant="secondary" text-variant="light">
    <h1 class="text-center">
      {{ goal.goal_subtype }}
    </h1>
    <div class="my-2">
      תאריך יעד - {{ new Date(goal.end_date).toLocaleDateString() }}
    </div>
    <div class="my-2">
      <b-icon icon="file-text" /> קיימות
      {{ goal.comments?.split("~").length ?? 0 }} הערות
    </div>
    <b-button @click="toggleEditModal" pill class="my-2" variant="primary"
      >יצירת הערה חדשה</b-button
    >
    <b-modal
      centered
      header-bg-variant="dark"
      body-bg-variant="dark"
      footer-bg-variant="dark"
      v-if="editModalVisibility"
      @hidden="toggleEditModal"
      :visible="editModalVisibility"
    >
      <template #modal-header="{ close }">
        <!-- Emulate built in modal header close button action -->
        <h5>יצירת הערה חדשה</h5>
        <b-button size="sm" @click="close()"> X </b-button>
      </template>

      <b-form-textarea v-model="newComment" placeholder="כתבו את ההערה כאן" />

      <template #modal-footer>
        <div class="w-100 d-flex justify-content-center">
          <b-button variant="primary" pill class="w-50" @click="onCheck"
            >שמירה</b-button
          >
        </div>
      </template>
    </b-modal>
  </b-card>
</template>

<script lang="ts">
import { Goal } from "@/definitions/Goal";
import { useGoalStore } from "@/stores/goalStore";
import Vue, { defineComponent, PropType, ref } from "vue";

export default defineComponent({
  props: {
    goal: {
      type: Object as PropType<Goal>,
      required: true,
    },
    customerId: Number,
  },
  setup(props) {
    const goalsStore = useGoalStore();
    const editModalVisibility = ref(false);
    const newComment = ref("");
    const toggleEditModal = () => {
      editModalVisibility.value = !editModalVisibility.value;
    };
    const onCheck = async () => {
      await goalsStore.updateGoal(
        {
          endDate: new Date(props.goal.end_date),
          goal_id: props.goal.goal_id,
          comments: [
            ...(props.goal.comments?.split("~") ?? []),
            newComment.value,
          ].join("~"),
        },
        props.customerId
      );
      await Vue.swal({ icon: "success", title: "ההערה נוספה בהצלחה !" });
      editModalVisibility.value = false;
    };
    return {
      endDate: new Date(props.goal.end_date).toLocaleDateString(),
      newComment,
      onCheck,
      editModalVisibility,
      toggleEditModal,
    };
  },
  components: {},
});
</script>
