<template>
  <b-card class="mb-2 ml-2" title="היעד הושלם בהצלחה">
    <h1 class="mb-2 mt-2">{{ text }}</h1>
    <b-form-checkbox @input="onCheck" v-model="completed" size="lg" />
  </b-card>
</template>

<script lang="ts">
import { useGoalStore } from "@/stores/goalStore";
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    goal: {
      type: Object,
      required: true,
    },
  },
  setup({ goal }) {
    const goalsStore = useGoalStore();
    const { completed, goal_subtype: text, goal_id } = goal;
    const onCheck = async (completed: boolean) => {
      await goalsStore.updateGoal({ completed, goal_id });
    };
    return {
      completed: !!completed,
      text,
      onCheck,
    };
  },
});
</script>
