<template>
  <b-card class="mb-2 ml-2" bg-variant="dark" text-variant="white">
    <div class="d-flex justify-content-between">
      <b-button v-b-modal="'comments-modal' + goal.goal_id" variant="dark"
        ><b-icon icon="bell"
      /></b-button>
      <b-button @click="toggleEditModal" variant="dark"
        ><b-icon icon="pencil"
      /></b-button>
    </div>
    <h1 class="mb-2 mt-2">{{ goal.goal_subtype }}</h1>
    <p class="mb-2 mt-2">תאריך יעד - {{ endDate }}</p>
    <b-form-checkbox @input="onCheck" v-model="completed" size="lg" />
    <SaveGoalModal
      v-if="editModalVisibility"
      :isOpen="editModalVisibility"
      :close="toggleEditModal"
      :goal="goal"
    />
    <b-modal
      ok-only
      ok-title="הבנתי"
      :id="'comments-modal' + goal.goal_id"
      centered
      header-bg-variant="dark"
      body-bg-variant="dark"
      footer-bg-variant="dark"
    >
      <template #modal-header="{ close }">
        <!-- Emulate built in modal header close button action -->
        <h5>הערות מהמתאמנ/ת</h5>
        <b-button size="sm" @click="close()"> X </b-button>
      </template>
      <ul class="text-right" v-if="goal.comments">
        <li
          v-for="(comment, index) in goal.comments.split('~')"
          :key="comment + index"
        >
          {{ comment }}
        </li>
      </ul>
      <div v-else>הכל טוב, אין הערות :)</div>
    </b-modal>
  </b-card>
</template>

<script lang="ts">
import { useGoalStore } from "@/stores/goalStore";
import { defineComponent, ref } from "vue";
import SaveGoalModal from "./SaveGoalModal.vue";

export default defineComponent({
  props: {
    goal: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const goalsStore = useGoalStore();
    const completed = ref(!!props.goal.completed);
    const editModalVisibility = ref(false);
    const toggleEditModal = () => {
      editModalVisibility.value = !editModalVisibility.value;
    };
    const onCheck = async (completed: boolean) => {
      await goalsStore.updateGoal({
        completed,
        endDate: new Date(props.goal.end_date),
        goal_id: props.goal.goal_id,
      });
    };
    return {
      completed,
      endDate: new Date(props.goal.end_date).toLocaleDateString(),
      onCheck,
      editModalVisibility,
      toggleEditModal,
    };
  },
  components: { SaveGoalModal },
});
</script>
