<template>
  <b-modal
    header-bg-variant="dark"
    header-text-variant="light"
    body-bg-variant="dark"
    body-text-variant="light"
    footer-bg-variant="dark"
    footer-text-variant="light"
    footer-class="justify-center"
    centered
    @hidden="close"
    :visible="isOpen"
  >
    <template #modal-header="{ close }">
      <h5>{{ ui.title }}</h5>
      <b-button size="sm" @click="close()"> X </b-button>
    </template>
    <b-select :options="typeOptions" class="mb-3" v-model="form.goalType" />
    <b-form-textarea
      v-model="form.goalSubtype"
      class="mb-3"
      placeholder="מה היעד?"
    />
    <b-form-datepicker
      locale="he"
      direction="rtl"
      dark
      :min="new Date()"
      value-as-date
      v-model="form.endDate"
      placeholder="תאריך לביצוע"
    />
    <template #modal-footer>
      <b-button pill @click="onSubmit" variant="primary" type="submit">{{
        ui.button
      }}</b-button>
    </template>
  </b-modal>
</template>

<style scoped>
.modal-close {
  border: 0;
  background-color: transparent;
}
</style>

<script lang="ts">
import { useGoalStore } from "@/stores/goalStore";
import Vue, { defineComponent, reactive } from "vue";
const editModeUI = {
  title: "עריכת יעד",
  button: "שמירת השינויים",
};
const addModelUI = {
  title: "יצירת יעד חדש",
  button: "יצירת היעד",
};
export default defineComponent({
  props: {
    isOpen: {
      type: Boolean,
      required: true,
    },
    close: {
      type: Function,
      required: true,
    },
    goal: {
      type: Object,
    },
  },
  setup({ close, goal }) {
    const goalStore = useGoalStore();
    const ui = goal ? editModeUI : addModelUI;
    const form = reactive<{
      endDate: Date | undefined;
      goalType: number | undefined;
      goalSubtype: string | undefined;
    }>({
      endDate: goal?.end_date,
      goalType: goal?.goal_type ?? null,
      goalSubtype: goal?.goal_subtype,
    });
    const submitAction = goal ? goalStore.updateGoal : goalStore.addGoal;
    const onSubmit = async (event: FormDataEvent) => {
      event.preventDefault();
      await submitAction({ ...form, goal_id: goal?.goal_id, completed: false });
      await Vue.swal({ icon: "success", text: "היעד נשמר בהצלחה" });
      close();
    };

    return {
      form,
      typeOptions: [
        { text: "סוג היעד", value: null },
        { text: "תזונתי", value: 0 },
        { text: "פיזיולוגי", value: 1 },
      ],
      ui,
      onSubmit,
    };
  },
});
</script>
