<!DOCTYPE html>
<html lang="he">
  <script type="text/javascript">
    const DISCOVERY_DOC =
      "https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest";

    function gapiLoaded() {
      gapi.load("client", async () => {
        await gapi.client.init({
          apiKey: "AIzaSyDESbBLyFdc0pe5LgamQ3UHOpA0aHKEZ14",
          discoversDocs: [DISCOVERY_DOC],
        });
        gapi.client.load("calendar", "v3");
      });
    }
  </script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script
    async
    defer
    src="https://apis.google.com/js/api.js"
    onload="gapiLoaded()"
  ></script>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
