<template>
  <div>
    <PhysiologicalChart />
    <b-button variant="primary" to="/goals" class="mt-4" pill
      >קחו אותי לעמוד היעדים שלי</b-button
    >
    <b-container class="my-3" fluid>
      <b-card body-bg-variant="secondary">
        <h3 class="text-green">סה"כ אימונים שביצעת השבוע -</h3>
        <h4 class="text-light">
          {{ weeklySaveTimes.done }}
          מתוך {{ weeklySaveTimes.total }} אימונים שהזנת
        </h4>
      </b-card>
    </b-container>
    <b-button pill variant="primary" to="/trainingPlans/view"
      >רישום אימון חדש</b-button
    >
  </div>
</template>

<script lang="ts">
import { useUserStore } from "@/stores/userStore";
import PhysiologicalChart from "@/components/PhysiologicalChart.vue";
import { defineComponent, ref } from "vue";
import { Workout } from "@/definitions/TrainingProgram";
import { sendRequest } from "@/request";

export default defineComponent({
  setup() {
    const weeklySaveTimes = ref<{ total: number; done: number }>({
      total: 0,
      done: 0,
    });
    return {
      weeklySaveTimes,
    };
  },
  async created() {
    const userStore = useUserStore();
    const { times } = await sendRequest<{ times: Workout[] }>(
      `programs/customer/machines/times/${userStore.user?.id}`,
      "GET"
    );

    this.weeklySaveTimes = {
      total: times.length,
      done: times.filter((time) => time.done).length,
    };
  },
  components: { PhysiologicalChart },
});
</script>
