<template>
  <div>
    <div class="row m-3 text-right">
      <b-avatar class="ml-3" />
      <h1 class="md text-light">שלום, {{ firstName }}</h1>
    </div>
    <CustomerHome v-if="isCustomer" />
    <EmployeeHome v-else />
  </div>
</template>

<script lang="ts">
import { useUserStore } from "@/stores/userStore";
import { defineComponent, ref } from "vue";
import { EntityTypes } from "@/definitions/EntityTypes";
import CustomerHome from "@/views/Home/CustomerHome.vue";
import EmployeeHome from "@/views/Employee/EmployeeHome.vue";
export default defineComponent({
  setup() {
    const userStore = useUserStore();
    const firstName = ref(userStore.firstName);
    const isCustomer = ref(userStore.isCustomer);
    userStore.$subscribe((_, state) => {
      if (state.user) {
        firstName.value = state.user.first_name;
        isCustomer.value = state.user.entity_type === EntityTypes.Customer;
      }
    });
    return {
      firstName,
      userId: userStore.user?.id,
      isCustomer,
    };
  },
  components: { CustomerHome, EmployeeHome },
});
</script>

<style scoped></style>
