<template>
  <b-modal
    :id="id"
    header-bg-variant="dark"
    header-text-variant="light"
    body-bg-variant="dark"
    body-text-variant="light"
    footer-bg-variant="dark"
    footer-text-variant="light"
    footer-class="justify-center"
    @hidden="hide"
    centered
    :visible="show"
  >
    <template #modal-header="{ close }">
      <h5>בחרו מאכל אחר</h5>
      <b-button size="sm" @click="close()"> X </b-button>
    </template>
    <b-form-input v-model="option" type="text" />
    <template #modal-footer>
      <b-button pill @click="onSubmit" variant="primary" type="submit">
        שמירה</b-button
      >
    </template>
  </b-modal>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  props: {
    id: {
      type: String,
      required: true,
    },
    onFinish: {
      type: Function,
      required: true,
    },
    show: {
      type: Boolean,
      required: true,
    },
    hide: {
      type: Function,
      required: true,
    },
  },
  setup({ onFinish, id }) {
    const option = ref("");
    const onSubmit = () => {
      onFinish(id, option.value);
    };

    return {
      option,
      onSubmit,
    };
  },
});
</script>
