<template>
  <div>
    <img class="m-5" alt="Vibe Logo" src="../assets/logo.png" />
    <LoginForm id="login" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import LoginForm from "@/components/LoginForm.vue";
export default defineComponent({
  components: { LoginForm },
});
</script>

<style scoped>
#login {
  padding-block-start: 20vh;
}
</style>
