<template>
  <div>
    <div
      class="d-flex my-3 flex-row-reverse justify-content-between align-items-center"
    >
      <img
        alt="Vibe Logo"
        width="134.62"
        height="49"
        src="../assets/logo.png"
      />
      <div v-if="showSidebar">
        <b-button variant="outline-light" v-b-toggle.sidebar>
          <b-icon icon="card-list"></b-icon>
        </b-button>
      </div>
    </div>
    <b-sidebar
      v-if="showSidebar"
      lazy
      right
      id="sidebar"
      backdrop
      text-variant="light"
      bg-variant="dark"
      shadow
    >
      <b-avatar class="ml-3" />
      <h1 class="md">{{ fullName }}</h1>
      <h4 class="md">{{ title }} מכון VIBE</h4>
      <b-container class="d-flex align-items-start flex-column text-right">
        <SidebarOption icon="house-door" to="/home" text="דף הבית" />
        <template v-for="option in sidebarOptions">
          <SidebarDropdown
            v-if="'options' in option"
            :key="option.text"
            :icon="option.icon"
            :text="option.text"
            :options="option.options"
          />
          <SidebarOption
            v-else
            :key="option.to"
            :icon="option.icon"
            :text="option.text"
            :to="option.to"
          />
        </template>
      </b-container>
      <template #footer>
        <SidebarOption
          icon="box-arrow-in-right"
          text="התנתק"
          :onClick="logout"
        />
      </template>
    </b-sidebar>
  </div>
</template>

<script lang="ts">
import SidebarDropdown from "@/components/SidebarDropdown.vue";
import { useUserStore } from "@/stores/userStore";
import { useRoute } from "vue-router/composables";
import { defineComponent, ref, watch } from "vue";
import { EntityTypeToTitle, EntityTypes } from "@/definitions/EntityTypes";
import SidebarOption from "@/components/SidebarOption.vue";

// Options in the sidebar itself, each option has an icon and text.
// If it's a dropdown it'll include options, else, it'll have a 'to' property which is a route.
const sidebarOptions = {
  [EntityTypes.Customer]: [
    {
      icon: "person",
      text: "אזור אישי",
      options: [
        { to: "/details", text: "פרטים אישיים" },
        { to: "/subscribe", text: "רכישת מנוי" },
        { to: "/physical-data", text: "נתונים פיזיולוגיים" },
        { to: "/goals", text: "יעדים אישיים" },
      ],
    },
    {
      icon: "cup-straw",
      text: "תזונה",
      options: [
        { to: "/nutrition/preferences", text: "העדפות תזונתיות" },
        { to: "/nutrition/dailyMenu", text: "עדכון תפריט יומי" },
      ],
    },
    {
      icon: "heart-fill",
      text: "תוכנית אימונים",
      options: [
        { to: "/workouts", text: "האימונים שלי" },
        { to: "/trainingPlans/view", text: "צפייה בתוכנית אימונים" },
        { to: "/trainingPlans/register", text: "עדכון יומן אימונים" },
      ],
    },
  ],
  [EntityTypes.Trainer]: [
    {
      icon: "bullseye",
      text: "צפייה ביעדים אישיים של המתאמנ/ת",
      to: "/customers/goals",
    },
    {
      icon: "clipboard-data",
      text: "בניית תוכנית אימונים",
      to: "/customers/trainingPlans",
    },
  ],
  [EntityTypes.Nutritionist]: [
    {
      icon: "clipboard-data",
      text: "בניית תפריט תזונה",
      to: "/customers/menus",
    },
  ],
};

export default defineComponent({
  setup() {
    const userStore = useUserStore();
    const fullName = ref(userStore.fullName);
    const firstName = ref(userStore.firstName);
    const route = useRoute();
    const userType = userStore.user?.entity_type ?? "customer";
    const showAvatar = ref(false);
    const showSidebar = ref(userStore.isCustomer || route.meta?.employeeOnly);

    watch(
      () => route.meta,
      () => {
        showAvatar.value = route.meta?.showAvatar;
        showSidebar.value = userStore.isCustomer || route.meta?.employeeOnly;
      }
    );

    userStore.$subscribe((_, state) => {
      firstName.value = state.user?.first_name ?? firstName.value;
      fullName.value = state.user?.first_name + " " + state.user?.last_name;
    });

    return {
      isCustomer: userStore.isCustomer,
      fullName,
      firstName,
      logout: userStore.logout,
      sidebarOptions: sidebarOptions[userType],
      title: EntityTypeToTitle[userType],
      showSidebar,
      showAvatar,
    };
  },
  components: { SidebarDropdown, SidebarOption },
});
</script>
