<template>
  <div>
    <b-form v-bind:id="id" @submit="onSubmit">
      <b-form-group id="input-group-1" class="form-horizontal mb-5">
        <b-form-input
          v-model="email"
          type="email"
          placeholder="אימייל"
          required
          class="mb-5"
        >
        </b-form-input>

        <b-form-input
          v-model="password"
          type="password"
          placeholder="סיסמא"
          required
        ></b-form-input>
      </b-form-group>
      <b-button pill class="w-50" type="submit" variant="primary"
        >כניסה</b-button
      >
    </b-form>
  </div>
</template>

<script lang="ts">
import { useUserStore } from "@/stores/userStore";
import { defineComponent, ref } from "vue";

export default defineComponent({
  props: {
    id: {
      type: String,
    },
  },
  setup() {
    const userStore = useUserStore();
    const email = ref("");
    const password = ref("");
    const onSubmit = async (event: FormDataEvent) => {
      event.preventDefault();
      await userStore.authenticate(email.value, password.value);
    };

    return {
      email,
      password,
      onSubmit,
    };
  },
});
</script>
