<template>
  <Doughnut
    v-if="loaded"
    :chart-options="chartOptions"
    :chart-data="chartData"
    :chart-id="chartId"
    :dataset-id-key="datasetIdKey"
    :css-classes="cssClasses"
    :styles="styles"
  />
</template>

<script lang="ts">
import { Doughnut } from "vue-chartjs/legacy";

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
} from "chart.js";
import { defineComponent, ref } from "vue";
import { sendRequest } from "@/request";
import { useUserStore } from "@/stores/userStore";

ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale);

export default defineComponent({
  components: {
    Doughnut,
  },
  props: {
    chartId: {
      type: String,
      default: "pie-chart",
    },
    datasetIdKey: {
      type: String,
      default: "label",
    },
    cssClasses: {
      default: "",
      type: String,
    },
    styles: {
      type: Object,
      default() {
        return {};
      },
    },
    plugins: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  setup() {
    const loaded = ref(false);
    return {
      loaded,
      chartData: {
        labels: ["חלבון", "פחמימות", "שריפת קלוריות"],
        datasets: [
          {
            backgroundColor: ["#45ffbc", "#e3ffa6", "#bcb6b6"],
            data: [20, 40, 60],
          },
        ],
      },
      chartOptions: {
        locale: "he",
        responsive: true,
        aspectRatio: 2,
        maintainAspectRatio: true,
        plugins: {
          legend: {
            position: "left",
            labels: {
              padding: 25,
              color: "white",
              fontSize: 18,
            },
          },
        },
      },
    };
  },
  async created() {
    const userStore = useUserStore();
    const { stats } = await sendRequest<{ stats: object }>(
      `customer/${userStore.user?.id}/weeklyStats`,
      "GET"
    );

    this.chartData.datasets[0].data = Object.values(stats).map((stat) =>
      parseInt(stat ?? "1")
    );
    this.loaded = true;
  },
});
</script>
