<template>
  <div>
    <h3 class="md my-4 mx-2">
      <b-icon class="ml-2" :icon="icon" scale="1.5" />
      {{ text }}
      <b-icon
        @click="toggleDropdown"
        :icon="`chevron-${isDroppedDown ? 'up' : 'down'}`"
      />
    </h3>
    <div
      class="d-flex align-items-baseline flex-column mr-5"
      v-if="isDroppedDown"
    >
      <h3 :key="option.to" v-for="option in options">
        <router-link :to="option.to">{{ option.text }}</router-link>
      </h3>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from "vue";

export default defineComponent({
  props: {
    icon: String,
    text: String,
    options: Array as PropType<{ to: string; text: string }[]>,
  },
  setup() {
    const isDroppedDown = ref(false);
    const toggleDropdown = () => {
      isDroppedDown.value = !isDroppedDown.value;
    };
    return {
      isDroppedDown,
      toggleDropdown,
    };
  },
});
</script>
