<template>
  <h3 @click="click" class="md my-4 mx-2">
    <b-icon class="ml-2" :icon="icon" scale="1.5" /> {{ text }}
  </h3>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router/composables";

export default defineComponent({
  props: {
    icon: String,
    text: String,
    to: String,
    onClick: Function,
  },
  setup({ to, onClick }) {
    const router = useRouter();
    const click = () => (onClick ? onClick() : router.push(to ?? "/home"));

    return { click };
  },
});
</script>
