<template>
  <b-container id="app">
    <SidebarNavigation v-if="isAuthenticated" />
    <router-view />
  </b-container>
</template>

<script lang="ts">
// This is the app's homepage, it includes the sidenav button and the main container
// for screens in the system.
import { storeToRefs } from "pinia";
import { defineComponent } from "vue";
import { useUserStore } from "./stores/userStore";
import SidebarNavigation from "./views/SidebarNavigation.vue";

export default defineComponent({
  components: { SidebarNavigation },
  setup() {
    // Here we get a reactive refernce of the isAuthenticated property in userStore.
    const { isAuthenticated } = storeToRefs(useUserStore());

    return {
      isAuthenticated,
    };
  },
  created() {
    // Changing the title of the tab when the app is loaded
    document.title = "FitWise";
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  direction: rtl;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
