<template>
  <b-container>
    <ViewHeading title="עדכון תפריט יומי" showBack />
    <b-form-datepicker
      v-model="date"
      locale="he"
      :max="new Date()"
      direction="rtl"
      class="my-3"
      size="md"
    />
    <h2 class="d-flex">סיכום יומי</h2>
    <div class="m-2">
      <b-container fluid class="ml-4">
        <b-row cols="2" class="m-2">
          <DailyReviewData
            icon="flame"
            title="קלוריות"
            :data="mealAverages.sum_calories"
          />
          <DailyReviewData
            icon="wheat"
            title="פחמימות"
            :data="mealAverages.sum_carbohydrates"
          />
        </b-row>
        <b-row cols="2" class="m-2">
          <DailyReviewData
            icon="lightning"
            title="חלבון"
            :data="mealAverages.sum_protein"
          />
          <DailyReviewData
            icon="bottle"
            title="שומנים"
            :data="mealAverages.sum_fats"
          />
        </b-row>
      </b-container>
      <div class="dropdown-divider" />
      <h2 class="d-flex">הארוחות שלי</h2>
      <b-card-group deck>
        <MealOverviewCard
          class="m-3"
          v-for="mealType in types"
          :key="mealType"
          :onRouteClick="toMealView"
          :mealType="mealType"
          :meal="meals.find((meal) => meal.meal_type === mealType)"
        />
      </b-card-group>
    </div>
  </b-container>
</template>

<script lang="ts">
// This view shows meals for a day and a daily summary.
import { defineComponent, reactive, ref, watch } from "vue";
import DailyReviewData from "@/components/Meals/DailyReviewData.vue";
import MealOverviewCard from "@/components/Meals/MealOverviewCard.vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import { useMealStore, parseMealDate } from "@/stores/mealStore";
import { Meal, MealTypes } from "@/definitions/Meals";
import { useRouter } from "vue-router/composables";

export default defineComponent({
  components: { DailyReviewData, MealOverviewCard, ViewHeading },
  setup() {
    const mealsStore = useMealStore();
    const router = useRouter();
    const date = ref<Date | string>(mealsStore.selectedDate);
    const meals = ref<Partial<Meal>[]>(
      mealsStore.meals[parseMealDate(date.value)] ?? []
    );
    const types = [0, 1, 2, 3];
    const mealAverages = reactive({
      sum_calories: "0/2000",
      sum_carbohydrates: "0 גרם",
      sum_protein: "0 גרם",
      sum_fats: "0 גרם",
    });

    // This part is in charge of the data summarization and calculations
    // this function calculates a sum of one property
    const summarizeDeatil = (detail: keyof typeof mealAverages) =>
      meals.value?.reduce?.((acc, meal) => (acc += meal[detail] ?? 0), 0);
    // This function updates the summary fields altogether.
    const updateMealsData = (dataSource: { meals: Record<string, Meal[]> }) => {
      meals.value = dataSource.meals[parseMealDate(date.value)] ?? [];
      mealAverages.sum_protein = `${summarizeDeatil("sum_protein")} גרם`;
      mealAverages.sum_carbohydrates = `${summarizeDeatil(
        "sum_carbohydrates"
      )} גרם`;
      mealAverages.sum_fats = `${summarizeDeatil("sum_fats")} גרם`;
      mealAverages.sum_calories = `${summarizeDeatil("sum_calories")}/1500`;
    };

    // Whenever meals are being updated, re-calculate
    mealsStore.$subscribe((_mutation, state) => {
      updateMealsData(state);
    });

    // Whenever date is changed, re-calculate
    watch(date, (newDate) => {
      mealsStore.$patch({ selectedDate: newDate, meals: mealsStore.meals });
    });

    const toMealView = (mealType: MealTypes) => {
      router.push(`/nutrition/meals/${mealType}`);
    };

    return {
      date,
      meals,
      types,
      mealAverages,
      toMealView,
    };
  },
  async created() {
    const mealsStore = useMealStore();

    await mealsStore.findMealsByDate();
  },
});
</script>
