<template>
  <div>
    <ViewHeading title="הארוחות שלי" showBack />
    <b-card
      v-if="parsedMealType < 4"
      text-variant="primary lg"
      :title="'ארוחת ' + mealText"
    ></b-card>
    <div class="my-5">
      <b-button pill variant="primary" @click="toSaveMeal"
        >+ הוספת ארוחה</b-button
      >
    </div>
    <MealDetailsCard
      v-if="typeof meal === 'object' && 'date' in meal"
      :foods="meal?.food_type?.split(',')"
      :sumCalories="meal?.sum_calories"
    />
  </div>
</template>

<script lang="ts">
import { Meal, MealTypes, mealTypesToText } from "@/definitions/Meals";
import { useMealStore } from "@/stores/mealStore";
import { defineComponent, ref } from "vue";
import { useRoute, useRouter } from "vue-router/composables";
import MealDetailsCard from "@/components/Meals/MealDetailsCard.vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";

export default defineComponent({
  setup() {
    const router = useRouter();
    const mealStore = useMealStore();
    const { params } = useRoute();
    const { mealType } = params;
    const parsedMealType = parseInt(mealType);
    const meal = ref(
      mealStore.meals[mealStore.parsedDate].find(
        (meal) => meal.meal_type === parsedMealType
      )
    );
    const mealText = mealTypesToText[parsedMealType as MealTypes];
    const onBack = () => {
      router.back();
    };
    const toSaveMeal = () => {
      router.push(`/nutrition/meals/${mealType}/save`);
    };
    return {
      meal,
      parsedMealType,
      mealText,
      onBack,
      toSaveMeal,
    };
  },
  components: { MealDetailsCard, ViewHeading },
});
</script>
