<template>
  <div>
    <ViewHeading title="העדפות תזונתיות" showBack />
    <b-form @submit="onSubmit">
      <p class="row mr-3 text-light">על איזה מאכל לא לוותר?</p>
      <b-form-group class="mr-3 ml-3">
        <b-button
          button
          pill
          :key="'ngu' + option"
          class="m-1"
          :variant="
            form.noGiveUpFoods.includes(option) ? 'primary' : 'secondary'
          "
          v-for="option in options.noGiveUpFoods"
          @click="() => onClickOption('noGiveUpFoods', option)"
          >{{ option }}</b-button
        >
        <b-button
          @click="
            () => {
              modalVisibility.noGiveUpFoods = true;
            }
          "
          pill
          class="m-1"
          >אחר</b-button
        >
      </b-form-group>
      <div class="dropdown-divider" />
      <p class="row mr-3 text-light">מה המאכל האהוב עליך?</p>
      <b-form-group class="mr-3 ml-3">
        <b-button
          button
          pill
          :key="'fav' + option"
          class="m-1"
          :variant="
            form.favouriteFoods.includes(option) ? 'primary' : 'secondary'
          "
          v-for="option in options.favouriteFoods"
          @click="() => onClickOption('favouriteFoods', option)"
          >{{ option }}</b-button
        >
        <b-button
          @click="
            () => {
              modalVisibility.favouriteFoods = true;
            }
          "
          pill
          class="m-1"
          >אחר</b-button
        >
      </b-form-group>
      <b-button class="w-50" pill variant="primary" type="submit"
        >שמירה</b-button
      >
    </b-form>
    <OtherPreferenceModal
      id="noGiveUpFoods"
      :show="modalVisibility.noGiveUpFoods"
      :onFinish="onOtherOptionSelected"
      :hide="() => hideModal('noGiveUpFoods')"
    />
    <OtherPreferenceModal
      id="favouriteFoods"
      :show="modalVisibility.favouriteFoods"
      :onFinish="onOtherOptionSelected"
      :hide="() => hideModal('favouriteFoods')"
    />
  </div>
</template>

<script lang="ts">
import router from "@/router";
import Vue, { defineComponent, reactive } from "vue";
import { noGiveUpFoods, favouriteFoods } from "@/data/foods";
import OtherPreferenceModal from "@/components/Nutrition/OtherPreferenceModal.vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import { sendRequest } from "@/request";
import { useUserStore } from "@/stores/userStore";
import { useMealStore } from "@/stores/mealStore";

export default defineComponent({
  setup() {
    const userStore = useUserStore();
    const form = reactive<{
      noGiveUpFoods: string[];
      favouriteFoods: string[];
    }>({
      noGiveUpFoods: [],
      favouriteFoods: [],
    });
    const options = reactive<{
      noGiveUpFoods: string[];
      favouriteFoods: string[];
    }>({
      noGiveUpFoods: noGiveUpFoods,
      favouriteFoods: favouriteFoods,
    });
    const modalVisibility = reactive({
      noGiveUpFoods: false,
      favouriteFoods: false,
    });
    const onSubmit = async (event: FormDataEvent) => {
      event.preventDefault();
      await sendRequest(`customer/${userStore.user?.id}/preferences`, "POST", {
        noGiveUpFoods: Array.from(new Set(form.noGiveUpFoods)),
        favouriteFoods: Array.from(new Set(form.favouriteFoods)),
      });
      await Vue.swal({ icon: "success", text: "ההעדפות נשמרו בהצלחה" });
      router.push("/");
    };
    const onClickOption = (field: keyof typeof form, value: string) => {
      const shouldAddItem = !form[field]?.includes(value);
      form[field] = form[field].filter((item) => item !== value);
      if (shouldAddItem) {
        form[field].push(value);
      }
    };
    const onOtherOptionSelected = (
      field: keyof typeof form,
      option: string
    ) => {
      options[field] = options[field].concat(option);
      form[field] = form[field].concat(option);
      modalVisibility[field] = false;
    };
    const toggleModalVisibility = (field: keyof typeof form) => {
      modalVisibility[field] = !modalVisibility[field];
    };
    const hideModal = (field: keyof typeof form) => {
      modalVisibility[field] = false;
    };
    return {
      form,
      onSubmit,
      onClickOption,
      onOtherOptionSelected,
      options,
      modalVisibility,
      hideModal,
      toggleModalVisibility,
    };
  },
  async created() {
    const mealStore = useMealStore();

    const { newFavourites, newNoGiveUp, favouriteFoods, noGiveUpFoods } =
      await mealStore.refreshPreferences();

    this.options.favouriteFoods.push(...newFavourites);
    this.options.noGiveUpFoods.push(...newNoGiveUp);
    this.form.favouriteFoods.push(...newFavourites, ...favouriteFoods);
    this.form.noGiveUpFoods.push(...newNoGiveUp, ...noGiveUpFoods);
  },
  components: { OtherPreferenceModal, ViewHeading },
});
</script>
