<template>
  <div>
    <ViewHeading title="בחרו ארוחה" showBack />
    <b-card-group deck>
      <b-form-radio-group v-model="selected">
        <MealOptionCard
          v-for="(meal, index) in options"
          :key="index"
          :index="index"
          :sumCalories="meal.sum_calories"
          :foods="(meal.food_type ?? '').split(',')"
        />
      </b-form-radio-group>
    </b-card-group>
    <b-button-group>
      <b-button variant="dark" @click="toggleAddMeal" pill
        >יצירת ארוחה חדשה</b-button
      >
      <b-button variant="primary" @click="onSave" pill>שמירה</b-button>
    </b-button-group>
    <AddMealModal
      v-if="addMealOpen"
      :open="addMealOpen"
      :submit="addNewMeal"
      :close="toggleAddMeal"
    />
  </div>
</template>

<script lang="ts">
import Vue, { defineComponent, ref } from "vue";
import { useRoute, useRouter } from "vue-router/composables";
import { Meal, MealTypes } from "@/definitions/Meals";
import MealOptionCard from "@/components/Meals/MealOptionCard.vue";
import AddMealModal from "@/components/Meals/AddMealModal.vue";
import { useMealStore } from "@/stores/mealStore";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";

export default defineComponent({
  components: { MealOptionCard, AddMealModal, ViewHeading },
  async created() {
    const presets = await useMealStore().loadPresets();
    this.options = presets[this.parsedMealType];
  },
  setup() {
    const mealStore = useMealStore();
    const router = useRouter();
    const route = useRoute();
    const { mealType } = route.params;
    const parsedMealType = parseInt(mealType) as MealTypes;

    const options = ref<Meal[]>([]);
    const selected = ref<number | undefined>(undefined);
    const addMealOpen = ref(false);

    const toggleAddMeal = () => {
      addMealOpen.value = !addMealOpen.value;
    };

    const addNewMeal = (meal: Meal) => {
      const index = options.value.push(meal);
      selected.value = index;
      addMealOpen.value = false;
    };

    const onSave = async () => {
      if (selected.value !== undefined) {
        const meal = options.value[selected.value];
        await mealStore.saveMeal(parsedMealType, meal);
        await Vue.swal({ icon: "success", text: "הארוחה נשמרה בהצלחה !" });
        router.push({ name: "daily-menu" });
      }
    };

    return {
      addMealOpen,
      addNewMeal,
      toggleAddMeal,
      parsedMealType,
      options,
      selected,
      onSave,
    };
  },
});
</script>

<style scoped>
.btn-group > .btn {
  margin-inline: 1rem !important;
}
</style>
