<template>
  <div>
    <ViewHeading title="האזור האישי" showBack />
    <h2 class="text-right">יעדים אישיים שביצעתי</h2>
    <b-card-group class="mt-3 horizontal-deck" fluid deck>
      <b-card v-if="completedGoals.length < 1">
        עדיין לא בוצעו יעדים, תמיד אפשר לשאוף גבוה יותר
      </b-card>
      <CompleteGoalCard
        v-for="goal in completedGoals"
        :key="goal.goal_id"
        :goal="goal"
      />
    </b-card-group>
    <div class="d-flex justify-content-between">
      <h2>יעדים אישיים לביצוע</h2>
      <b-button @click="toggleModalVisibility" pill variant="primary"
        >יצירת יעד חדש</b-button
      >
    </div>
    <b-card-group class="mt-3 horizontal-deck" fluid deck>
      <IncompleteGoalCard
        v-for="goal in pendingGoals"
        :key="goal.goal_id"
        :goal="goal"
      />
    </b-card-group>
    <SaveGoalModal
      v-if="addGoalModalVisibility"
      :isOpen="addGoalModalVisibility"
      :close="toggleModalVisibility"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import CompleteGoalCard from "@/components/PersonalInfo/Goals/CompleteGoalCard.vue";
import IncompleteGoalCard from "@/components/PersonalInfo/Goals/IncompleteGoalCard.vue";
import SaveGoalModal from "@/components/PersonalInfo/Goals/SaveGoalModal.vue";
import { useGoalStore } from "@/stores/goalStore";

export default defineComponent({
  components: {
    ViewHeading,
    CompleteGoalCard,
    IncompleteGoalCard,
    SaveGoalModal,
  },
  setup() {
    const addGoalModalVisibility = ref(false);
    const toggleModalVisibility = () => {
      addGoalModalVisibility.value = !addGoalModalVisibility.value;
    };
    const goalStore = useGoalStore();
    goalStore.initStore();
    const completedGoals = ref(goalStore.completedGoals);
    const pendingGoals = ref(goalStore.pendingGoals);

    goalStore.$subscribe((_, { goals }) => {
      completedGoals.value = goals.filter((goal) => goal.completed);
      pendingGoals.value = goals
        .filter((goal) => !goal.completed)
        .sort(
          (prev, next) =>
            new Date(prev.end_date).getTime() -
            new Date(next.end_date).getTime()
        );
    });
    return {
      completedGoals,
      pendingGoals,
      addGoalModalVisibility,
      toggleModalVisibility,
    };
  },
});
</script>
