<template>
  <div>
    <ViewHeading title="האזור האישי" showBack />
    <h2 class="row mr-3 mb-3">עדכון נתונים פיזיולוגיים</h2>
    <b-form @submit="onSubmit">
      <b-form-group>
        <b-form-input v-model="form.height" type="number" placeholder="גובה" />
      </b-form-group>
      <b-form-group>
        <b-form-input v-model="form.weight" type="number" placeholder="משקל" />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          min="0"
          max="100"
          v-model="form.fatPrecentage"
          placeholder="אחוז שומן"
        />
      </b-form-group>
      <b-form-group>
        <b-form-textarea
          v-model="form.medical_notes"
          placeholder="מגבלות רפואיות (הפרידו מגבלות בפסיק)"
        />
      </b-form-group>
      <b-form-file
        class="mb-3"
        multiple
        v-model="form.documents"
        placeholder="העלאת מסמכים"
        accept=".docx, .pdf, .png .jpeg"
      ></b-form-file>
      <b-button class="w-50" pill variant="primary" type="submit"
        >שמירה</b-button
      >
    </b-form>
  </div>
</template>

<script lang="ts">
import { useDetailsStore } from "@/stores/detailsStore";
import { useUserStore } from "@/stores/userStore";
import { defineComponent, reactive } from "vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import { useRouter } from "vue-router/composables";

export default defineComponent({
  setup() {
    const detailsStore = useDetailsStore();
    const userStore = useUserStore();
    const router = useRouter();
    const form = reactive({
      height: userStore.user?.height,
      weight: userStore.user?.weight,
      fatPrecentage: userStore.user?.fat_precentage,
      medical_notes: userStore.user?.medical_notes,
      documents: [],
    });
    const onSubmit = async (event: FormDataEvent) => {
      event.preventDefault();
      const success = await detailsStore.updateUserDetails(form);
      success && router.push("/");
    };
    return {
      form,
      onSubmit,
    };
  },
  components: { ViewHeading },
});
</script>
