<template>
  <div>
    <ViewHeading title="האזור האישי" showBack :back="back" />
    <div v-if="page === 0">
      <h2>רכישת מנוי</h2>
      <SubscriptionForm :onFinish="nextPage" />
    </div>

    <div v-else-if="page === 1">
      <h2>עדכון פרטי תשלום</h2>
      <CreditCardForm :onFinish="complete" />
    </div>
  </div>
</template>

<script lang="ts">
import { useDetailsStore } from "@/stores/detailsStore";
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router/composables";
import SubscriptionForm from "@/components/PersonalInfo/SubscriptionForm.vue";
import CreditCardForm from "@/components/PersonalInfo/CreditCardForm.vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";

export default defineComponent({
  setup() {
    const page = ref(0);
    const router = useRouter();
    const detailsStore = useDetailsStore();
    const nextPage = () => page.value++;
    const back = () => {
      page.value > 0 ? page.value-- : router.back();
    };

    return {
      nextPage,
      page,
      back,
      complete: detailsStore.finalize,
    };
  },
  components: { SubscriptionForm, CreditCardForm, ViewHeading },
});
</script>
