<template>
  <div>
    <ViewHeading title="האזור האישי" showBack />
    <div>
      <h2 class="mr-3 mb-3">עדכון פרטים אישיים</h2>
      <DetailsForm
        id="registration-form"
        buttonText="שמירה"
        :onFinish="updateUserDetails"
      />
    </div>
  </div>
</template>

<script lang="ts">
import DetailsForm from "@/components/PersonalInfo/DetailsForm.vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import Vue, { defineComponent } from "vue";
import { useDetailsStore } from "@/stores/detailsStore";
import { useRouter } from "vue-router/composables";
import { Customer } from "@/definitions/Customer";

export default defineComponent({
  components: { DetailsForm, ViewHeading },
  setup() {
    const detailsStore = useDetailsStore();
    const router = useRouter();

    const updateUserDetails = async (details: Partial<Customer>) => {
      await detailsStore.updateUserDetails(details);
      await Vue.swal({ icon: "success", title: "הפרטים עודכנו בהצלחה" });
      router.push({ name: "home" });
    };

    return {
      updateUserDetails,
    };
  },
});
</script>

<style @scoped>
.vue-step-wizard {
  width: 100% !important;
}
</style>
