<template>
  <div class="text-light text-right">
    <h3 class="my-3">מידע כללי -</h3>
    <CustomerTarget />
    <div class="dropdown-divider" />
    <b-card-group class="mt-3 horizontal-deck" fluid deck>
      <BasicGoalCard
        v-for="goal in pendingGoals"
        :key="goal.goal_id"
        :customerId="customerId"
        :goal="goal"
      />
    </b-card-group>
  </div>
</template>

<script lang="ts">
import { useCustomersStore } from "@/stores/customersStore";
import { defineComponent, ref } from "vue";
import BasicGoalCard from "@/components/PersonalInfo/Goals/BasicGoalCard.vue";
import { useGoalStore } from "@/stores/goalStore";
import CustomerTarget from "@/components/Employees/CustomerTarget.vue";

export default defineComponent({
  components: { BasicGoalCard, CustomerTarget },
  setup() {
    const customerId = ref<number>();
    const target = ref("");
    const goalStore = useGoalStore();
    const pendingGoals = ref(goalStore.pendingGoals);

    goalStore.$subscribe((_, { goals }) => {
      pendingGoals.value = goals
        .filter((goal) => !goal.completed)
        .sort(
          (prev, next) =>
            new Date(prev.end_date).getTime() -
            new Date(next.end_date).getTime()
        );
    });

    return {
      customerId,
      pendingGoals,
      target,
    };
  },
  async created() {
    const { target, id } =
      (await useCustomersStore().fetchCustomerDetails()) ?? {};
    this.customerId = id;
    this.target = target ?? "";
    const goalStore = useGoalStore();
    await goalStore.initStore(this.customerId);
  },
});
</script>
