// Your variable overrides
$body-bg: #352f2f;
$body-color: white;
$input-placeholder-color: $body-bg;
$enable-rounded: true;
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #2cabe2,
  "secondary": #7f7c7c,
  "green": #45ffbc,
);

body > h1,
h2,
h3 {
  color: $body-color;
}

body > h1 {
  font-size: 20sp;
}

body > h2 {
  font-size: 16sp;
}
button {
  border-radius: 1.5rem;
}

.horizontal-deck {
  display: flex;
  flex-direction: row;
}

@media (max-width: 801px) {
  .horizontal-deck {
    overflow-x: scroll;
  }
}

.horizontal-deck .card {
  min-width: 60vw;
  min-height: 25vh;
}

.rtl {
  direction: rtl;
}

.modal-content {
  direction: rtl;
}

.form-control {
  text-align: start;
}

.horizontal-divider {
  height: 1px;
  border-left: 1px;
  margin: 0 0.5rem;
  overflow: hidden;
}

// Bootstrap and its default variables
@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index";
@import "sweetalert2/dist/sweetalert2.min.css";
