<template>
  <div class="text-light text-right">
    <h3 class="my-3">מידע כללי -</h3>
    <CustomerTarget />
    <WorkoutCategories to="/customers/trainingPlans" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CustomerTarget from "@/components/Employees/CustomerTarget.vue";
import WorkoutCategories from "@/components/MachineRegistration/WorkoutCategories.vue";

export default defineComponent({
  setup() {
    return {};
  },
  components: { CustomerTarget, WorkoutCategories },
});
</script>
