<template>
  <b-container fluid>
    <b-button class="w-100 mb-5" pill varinat="secondary" disabled
      >אימון {{ workoutType }}</b-button
    >
    <div v-if="step === 0">
      <div class="mb-5">
        <b-button @click="onAddClick" pill variant="primary"
          >יצירת תרגיל חדש</b-button
        >
      </div>
      <TrainingPrograms :onClick="onEditClick" :programs="programs" />
    </div>
    <b-form class="text-light" v-if="step === 1">
      <b-form-group>
        <b-form-input
          required
          type="text"
          placeholder="שם התרגיל"
          v-model="form.description"
        />
      </b-form-group>
      <b-form-group>
        <b-form-select
          aria-required=""
          :options="machines"
          v-model="form.machine_id"
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="כמה חזרות?"
          v-model="form.repetition"
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="כמה סטים?"
          v-model="form.set_num"
        />
      </b-form-group>
      <b-form-group>
        <b-form-input
          type="number"
          placeholder="זמן מנוחה?"
          v-model="form.rest_mins"
        />
      </b-form-group>
      <b-form-group>
        <b-form-textarea placeholder="הערות" v-model="form.comments" />
      </b-form-group>
    </b-form>
    <b-button
      v-if="step > 0"
      class="mt-3 ml-3"
      @click="() => step--"
      pill
      variant="primary"
      >אחורה</b-button
    >
    <b-button class="mt-3" @click="onSaveClick" pill variant="primary">{{
      step === 0 ? "סיום וחזרה לדף הראשי" : "שמירה"
    }}</b-button>
  </b-container>
</template>

<script lang="ts">
// This view is for creating new exercises and viewing a customer's training plan
import {
  CategoryToName,
  WorkoutCategories,
} from "@/definitions/WorkoutCategories";
import Vue, { defineComponent, ref } from "vue";
import TrainingPrograms from "@/components/MachineRegistration/TrainingPrograms.vue";
import { TrainingProgram } from "@/definitions/TrainingProgram";
import { sendRequest } from "@/request";
import { useCustomersStore } from "@/stores/customersStore";
import { useRouter } from "vue-router/composables";
import { useMachineStore } from "@/stores/machinesStore";

export default defineComponent({
  props: {
    categoryId: { type: String, required: true },
  },
  setup(props) {
    // Which type of workout we are on
    const workoutType =
      CategoryToName[parseInt(props.categoryId) as WorkoutCategories];
    // Options of machines to select from (reactive)
    const machines = ref<{ text: string; value: number | null }[]>([
      { text: "איזה מכשיר ?", value: null },
    ]);
    const programs = ref<TrainingProgram[]>([]);
    const form = ref<
      Partial<
        Omit<TrainingProgram, "machine_id"> & { machine_id: number | null }
      >
    >({ machine_id: null });
    const router = useRouter();
    // Step controls which screen is shown, view workouts or save workout
    const step = ref(0);
    const onAddClick = () => {
      form.value = { machine_id: null };
      step.value++;
    };
    const onEditClick = (program: TrainingProgram) => {
      form.value = program;
      step.value++;
    };
    const onSaveClick = async () => {
      if (step.value > 0) {
        if (form.value.machine_id && form.value.description) {
          const customer_id = useCustomersStore().selectedCustomerId;
          const { program } = await sendRequest<{ program: TrainingProgram }>(
            "programs/save",
            "POST",
            { ...form.value, category_id: props.categoryId, customer_id }
          );
          if (program) {
            programs.value = programs.value
              .filter((program) => program.program_id !== form.value.program_id)
              .concat({
                ...program,
                machine_name:
                  machines.value.find(
                    (machine) => machine.value === program.machine_id
                  )?.text ?? "",
              });
            await Vue.swal({
              icon: "success",
              title: "תוכנית האימונים נשמרה בהצלחה",
            });
            step.value--;
          }
        }
      } else {
        router.push("/home");
      }
    };
    return {
      workoutType,
      programs,
      step,
      onAddClick,
      onSaveClick,
      onEditClick,
      form,
      machines,
    };
  },
  async created() {
    // Get training programs from server
    const { status, programs } = await sendRequest<{
      programs: TrainingProgram[];
    }>(
      `programs/category/${this.$route.params.categoryId}/?customerId=${
        useCustomersStore().selectedCustomerId
      }`,
      "GET"
    );
    if (status === 200) {
      this.programs = programs;
    }

    // Get machines from server.
    const machines = await useMachineStore().getMachines();

    this.machines.push(
      ...machines.map(({ machine_id, machine_name }) => ({
        text: machine_name,
        value: machine_id,
      }))
    );
  },
  components: { TrainingPrograms },
});
</script>
