<template>
  <b-card class="my-4" no-body>
    <b-card-body>
      <b-row>
        <b-col cols="6" class="border-left text-right">
          <h5 class="text-primary mb-2">
            <b-icon
              icon="pin-map
"
            ></b-icon>
            {{ workout.machine_name }}
          </h5>
          <p>{{ workout.start_time }} - {{ workout.finish_time }}</p>
        </b-col>
        <b-col cols="6">
          <h5 class="text-dark">בצעת?</h5>
          <b-form-checkbox
            :value="1"
            :unchecked_value="0"
            :checked="workout.done"
            @input="check"
            size="lg"
          />
        </b-col>
      </b-row>
    </b-card-body>
  </b-card>
</template>

<script lang="ts">
import { Workout } from "@/definitions/TrainingProgram";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  props: {
    workout: {
      type: Object as PropType<Workout>,
      required: true,
    },
    onCheck: Function,
  },
  setup(props) {
    const check = (done: number) => {
      props.onCheck?.({
        ...props.workout,
        done,
      });
    };
    return { check };
  },
});
</script>
