<template>
  <b-container fluid class="text-light">
    <ViewHeading title="הרשמה למכשירים בחדר הכושר" showBack :back="goBack" />
    <b-form-datepicker
      v-model="date"
      :min="new Date()"
      locale="he"
      direction="rtl"
      class="my-3"
      size="md"
    />
    <h2>{{ stepHeadings[step] }}</h2>
    <div v-if="step === 0">
      <SelectMachine />
    </div>
    <div v-else-if="step === 1">
      <b-button
        v-for="(item, index) in hourRangesToShow"
        :key="item.text"
        @click="() => selectHourRange(index)"
        variant="primary"
        pill
        class="w-75 mt-3 mb-2"
      >
        שעות {{ item.text }} - {{ item.start }}:00 - {{ item.end }}:00
      </b-button>
    </div>
    <div v-else-if="step === 2 && hourRange !== undefined">
      <p>כמה דקות אתם זקוקים למכשיר?</p>
      <b-row>
        <b-col cols="6">
          <b-button @click="() => setMinuteStep(10)" pill variant="primary"
            >10 דקות</b-button
          >
        </b-col>
        <b-col cols="6">
          <b-button @click="() => setMinuteStep(15)" pill variant="primary"
            >15 דקות</b-button
          >
        </b-col>
      </b-row>
      <div class="mt-3" v-if="minutesStep !== undefined">
        <b-form-timepicker
          placeholder="בחרו את הזמן המתאים"
          :hour12="false"
          :minutes-step="minutesStep"
          :state="isTimeValid"
          locale="he"
          v-model="selectedHour"
        />
        <b-button
          @click="orderDevice"
          :disabled="!isTimeValid"
          pill
          variant="primary"
          class="w-50 mt-3"
          >הזמן מכשיר</b-button
        >
      </div>
    </div>
  </b-container>
</template>

<script lang="ts">
// This view includes all the machine registraion process.
import Vue, { computed, defineComponent, ref, watch } from "vue";
import { useRouter } from "vue-router/composables";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import SelectMachine from "@/components/MachineRegistration/SelectMachine.vue";
import type { MachineAvailabilityTime, Machine } from "@/definitions/Machine";
import { sendRequest } from "@/request";
import { authorizeCalendarAccess } from "@/functions/authorizeCalendarAccess";
import { addEventToCalendar } from "@/functions/addEventToCalendar";
import { useUserStore } from "@/stores/userStore";
import { useMachineStore } from "@/stores/machinesStore";
import { CategoryToName } from "@/definitions/WorkoutCategories";

// Headers for the view based on the step the user is in
const stepHeadings = [
  "יש לבחור מכשיר",
  "באילו שעות לשריין את המכשיר",
  "אנא שריינו את המכשיר לשעה מדוייקת",
];

// Ranges of hours the user can choose for machine reservation
const hourRanges = [
  { start: "07", end: "12", text: "הבוקר" },
  { start: "12", end: "16", text: "הצהריים" },
  { start: "16", end: "20", text: "אחר הצהריים" },
  { start: "20", end: "23", text: "הערב" },
];

const calculateFinishTime = (
  date: string,
  time: string,
  minuteStep: number
) => {
  const parseDate = new Date(`${date} ${time}`);
  parseDate.setMinutes(parseDate.getMinutes() + minuteStep);
  return parseDate.toTimeString().split(" ")[0].slice(0, 5);
};

export default defineComponent({
  props: {
    machineId: String,
  },
  setup(props) {
    const router = useRouter();
    const userStore = useUserStore();
    const machineStore = useMachineStore();
    const machine = ref<Machine | undefined>(
      machineStore.findMachineById(props.machineId)
    );
    const date = ref<string>(new Date().toISOString());
    // step is used to control the view being shown,
    // if machineId is passed then a machine is selected
    // and step 0 is skipped
    const step = ref<number>(props.machineId ? 1 : 0);
    const hourRange = ref<number | undefined>(undefined);
    const selectedHour = ref<string | undefined>(undefined);
    const minutesStep = ref<number | undefined>(undefined);
    const availabilityTimes = ref<MachineAvailabilityTime[]>([]);
    // Calculate which hour ranges the customer can choose from based on current
    const hourRangesToShow = computed(() =>
      hourRanges.filter(
        (range) =>
          parseInt(range.start) >= new Date(date.value).getHours() &&
          parseInt(range.end) >= new Date(date.value).getHours()
      )
    );

    const selectHourRange = (rangeIndex: number) => {
      hourRange.value = rangeIndex;
      step.value++;
    };

    const updateAvailabilityTimes = async (machineId: string, date: string) => {
      const { times } = await sendRequest<{
        times: MachineAvailabilityTime[];
      }>(`programs/machines/times/${machineId}/${date.split("T")[0]}`, "GET");

      availabilityTimes.value = times;
    };

    // When a machine is selected, get it's data and availability times
    watch(
      () => props.machineId,
      (newId) => {
        if (newId) {
          machine.value = machineStore.findMachineById(newId);
          updateAvailabilityTimes(newId, date.value);
          step.value = 1;
        } else {
          step.value = 0;
        }
      }
    );

    // When the date changes and a machine is selected
    // get the availablility times for the new date
    watch(date, async (newDate) => {
      if (props.machineId) {
        updateAvailabilityTimes(props.machineId, newDate);
      }
    });

    const goBack = () => {
      if (hourRange.value) {
        hourRange.value = undefined;
      }

      if (selectedHour.value) {
        selectedHour.value = undefined;
      }

      if ((props.machineId && step.value === 1) || step.value === 0) {
        return router.back();
      }

      step.value--;
    };

    // Check if the selected time is after now,
    // is in the selected hour range and not taken by someone else
    const validateTime = (hour: string) => {
      if (hourRange.value !== undefined) {
        const range = hourRangesToShow.value[hourRange.value];
        const isToday = new Date().toISOString().split("T")[0] === date.value;
        return (
          (!isToday || new Date().getHours() <= parseInt(hour)) &&
          `${range.start}:00:00` <= hour &&
          hour <= `${range.end}:00:00` &&
          !availabilityTimes.value.some(
            (time) =>
              `${time.start_time}:00` <= hour && hour < `${time.finish_time}:00`
          )
        );
      }

      return false;
    };

    const isTimeValid = ref(true);
    watch(selectedHour, (hour) => {
      isTimeValid.value = hour ? validateTime(hour) : false;
    });

    const setMinuteStep = (step: number) => {
      minutesStep.value = step;
      if (hourRange.value !== undefined) {
        selectedHour.value =
          hourRangesToShow.value[hourRange.value].start + ":00:00";
      }
    };

    const orderDevice = async () => {
      // Only order device if machine and time are selected
      if (selectedHour.value && machine.value) {
        const start_time = selectedHour.value.slice(0, 5);
        const selected_day = new Date(date.value).toISOString().split("T")[0];
        const payload = {
          machine_id: props.machineId,
          start_time,
          finish_time: calculateFinishTime(
            selected_day,
            start_time,
            minutesStep.value ?? 15
          ),
          selected_day,
        };
        // Save reservation in DB and wait for user confirmation
        await sendRequest(
          `programs/customer/machines/times/${userStore.user?.id}`,
          "PUT",
          payload
        );
        const { isConfirmed } = await Vue.swal({
          title: "המכשיר הוזמן בהצלחה",
          text: "האם תרצה לסנכרן את ההזמנה ללוח השנה שלך?",
          icon: "success",
          showCancelButton: true,
          cancelButtonText: "המשך",
          confirmButtonText: "סנכרן",
        });
        // If user wants to sync to calendar, authenticate user to google
        // and add an event to the user's primary calendar
        if (isConfirmed) {
          const tokenResult = await authorizeCalendarAccess();
          if (tokenResult) {
            await addEventToCalendar({
              ...payload,
              selected_day: selected_day + `T${start_time}:00.000Z`,
              summary: `אימון ${
                CategoryToName[machine.value.category_id]
              } על ה${machine.value.machine_name}`,
            });
          }
        }

        // in the end, go back to home screen.
        router.push("/home");
      }
    };

    return {
      goBack,
      date,
      hourRange,
      hourRangesToShow,
      isTimeValid,
      selectHourRange,
      selectedHour,
      minutesStep,
      machine,
      setMinuteStep,
      step,
      stepHeadings,
      orderDevice,
      availabilityTimes,
      updateAvailabilityTimes,
    };
  },
  components: { ViewHeading, SelectMachine },
  async created() {
    // Load machines when component is created.
    const machineStore = useMachineStore();
    await machineStore.getMachines();
    if (this.$props.machineId) {
      this.machine = machineStore.findMachineById(this.$props.machineId);
      this.updateAvailabilityTimes(
        this.$props.machineId,
        new Date().toISOString().split("T")[0]
      );
    }
  },
});
</script>
