<template>
  <b-container fluid>
    <ViewHeading title="האימונים שלי" showBack />
    <b-form-datepicker
      v-model="date"
      locale="he"
      direction="rtl"
      class="my-3"
      size="md"
    />
    <div>
      <WorkoutCard
        v-for="(workout, index) in workouts"
        :workout="workout"
        :onCheck="onCheckWorkout"
        :key="index"
      />
    </div>
  </b-container>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import WorkoutCard from "../../components/Workouts/WorkoutCard.vue";
import { Workout } from "@/definitions/TrainingProgram";
import { sendRequest } from "@/request";
import { useUserStore } from "@/stores/userStore";

export default defineComponent({
  components: { ViewHeading, WorkoutCard },
  setup() {
    const date = ref(new Date().toISOString());
    const userStore = useUserStore();
    const workouts = ref<Workout[]>([]);

    const refreshWorkouts = async (date: string) => {
      const { workouts: workoutsResponse } = await sendRequest<{
        workouts: Workout[];
      }>(`programs/workouts/${userStore.user?.id}/${date}`, "GET");
      workouts.value = workoutsResponse;
    };

    const onCheckWorkout = async (workout: Workout) => {
      await sendRequest(`programs/workouts/setDone`, "PATCH", {
        workout: { ...workout, selected_day: date.value.split("T")[0] },
      });
    };

    watch(date, (newDate) => refreshWorkouts(newDate.split("T")[0]));

    return { date, workouts, refreshWorkouts, onCheckWorkout };
  },
  async created() {
    await this.refreshWorkouts(this.date.split("T")[0]);
  },
});
</script>
