<template>
  <b-container fluid>
    <ViewHeading title="תוכניות האימונים שלי" showBack />
    <b-row class="mt-3">
      <b-col cols="1">
        <img src="/target.png" width="32" height="32" />
      </b-col>
      <b-col cols="6">
        <span class="text-light">
          <b>המטרה - </b>
          {{ target }}
        </span>
      </b-col>
    </b-row>
    <div class="dropdown-divider" />
    <p class="text-right text-light">תוכנית האימונים שהמאמן התאים עבורך -</p>
    <WorkoutCategories to="/trainingPlans/view" />
    <b-button
      to="/trainingPlans/register"
      class="w-50 my-2"
      pill
      variant="primary"
      >הרשמה למכשירים</b-button
    >
  </b-container>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router/composables";
import { CategoryToName } from "@/definitions/WorkoutCategories";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import { useUserStore } from "@/stores/userStore";
import WorkoutCategories from "@/components/MachineRegistration/WorkoutCategories.vue";

export default defineComponent({
  setup() {
    const router = useRouter();
    const userStore = useUserStore();
    const target = ref(userStore.user?.target);
    const goBack = () => router.back();
    return {
      goBack,
      CategoryToName,
      target,
    };
  },
  components: { ViewHeading, WorkoutCategories },
});
</script>
