<template>
  <b-container fluid>
    <ViewHeading title="תוכנית האימונים שלי" showBack />
    <b-button class="w-50" pill varinat="secondary" disabled
      >אימון {{ workoutType }}</b-button
    >
    <TrainingPrograms :programs="programs" />
  </b-container>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import ViewHeading from "@/components/PersonalInfo/ViewHeading.vue";
import {
  CategoryToName,
  WorkoutCategories,
} from "@/definitions/WorkoutCategories";
import { useRoute } from "vue-router/composables";
import { TrainingProgram } from "@/definitions/TrainingProgram";
import { sendRequest } from "@/request";
import TrainingPrograms from "@/components/MachineRegistration/TrainingPrograms.vue";

export default defineComponent({
  components: { ViewHeading, TrainingPrograms },
  setup() {
    const { params } = useRoute();
    const workoutType =
      CategoryToName[parseInt(params.categoryId) as WorkoutCategories];
    const programs = ref<TrainingProgram[]>([]);

    return {
      workoutType,
      programs,
    };
  },
  async created() {
    const { status, programs } = await sendRequest<{
      programs: TrainingProgram[];
    }>("programs/category/" + this.$route.params.categoryId, "GET");
    if (status === 200) {
      this.programs = programs;
    }
  },
});
</script>
