<template>
  <b-container fluid>
    <b-button class="w-100 mb-5" pill variant="secondary" disabled
      >ארוחת {{ mealTypesToText[parsedMealType] }}</b-button
    >
    <b-card>
      <template #header>
        <div class="d-flex align-items-center justify-content-between">
          סיכום ארוחה
          <b-button @click="() => toggleModal('addFood')" pill variant="primary"
            >+</b-button
          >
        </div>
      </template>
      <template #default>
        <div v-for="food in foods" :key="food.name">
          <p class="text-right">{{ food.name }}</p>
          <div class="text-right">
            {{ food.calories }} קלוריות * {{ food.gram }} גרם
          </div>
          <div class="dropdown-divider" />
        </div>
      </template>
      <template #footer>
        <div>סה"כ קלוריות {{ sum_calories }}</div>
      </template>
    </b-card>
    <b-button
      @click="() => toggleModal('saveMeal')"
      class="my-5"
      pill
      variant="primary"
      >שמירת ארוחה בתפריט התזונה</b-button
    >
    <AddFoodModal
      v-if="modalVisibility.addFood"
      :onFinish="addFood"
      :show="modalVisibility.addFood"
      :hide="() => toggleModal('addFood')"
    />
    <SaveCustomerMealModal
      v-if="modalVisibility.saveMeal"
      :onFinish="saveMeal"
      :show="modalVisibility.saveMeal"
      :hide="() => toggleModal('saveMeal')"
    />
  </b-container>
</template>

<script lang="ts">
// This view is when a nutritionist adds a new menu for a meal type. (e.g. A new type of dinner)
import { MealTypes, mealTypesToText } from "@/definitions/Meals";
import Vue, { defineComponent, ref, reactive, computed } from "vue";
import AddFoodModal from "@/components/Meals/AddFoodModal.vue";
import SaveCustomerMealModal from "@/components/Meals/SaveCustomerMealModal.vue";
import { useCustomersStore } from "@/stores/customersStore";
import { useRouter } from "vue-router/composables";

// Base type for food selection
type Food = {
  gram: string;
  calories: string;
  name: string;
};

export default defineComponent({
  props: {
    mealId: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const customersStore = useCustomersStore();
    const router = useRouter();
    // Parse the meal type to use it when getting data.
    const parsedMealType = parseInt(props.mealId) as MealTypes;
    const foods = ref<Food[]>([]);
    // Save visibility state for 2 modals in one variable
    const modalVisibility = reactive({ addFood: false, saveMeal: false });
    const toggleModal = (type: keyof typeof modalVisibility) => {
      modalVisibility[type] = !modalVisibility[type];
    };
    // Remove then add food to reuse code for replacing foods as well
    const addFood = (food: Food) => {
      foods.value = foods.value
        .filter((existingFood) => existingFood.name !== food.name)
        .concat(food);
      modalVisibility.addFood = false;
    };
    // calculate sum_calories each time foods change.
    const sum_calories = computed(() =>
      foods.value.reduce((acc, food) => acc + parseInt(food.calories), 0)
    );
    const saveMeal = async ({
      sum_carbohydrates,
      sum_fats,
      sum_protein,
    }: Record<string, string>) => {
      // submit the data to the server only when foods have been added
      if (foods.value.length > 0) {
        const customer_id = useCustomersStore().selectedCustomerId;
        // Summarize all the data only when needed to submit to the server
        const payload = {
          sum_carbohydrates: parseInt(sum_carbohydrates),
          sum_fats: parseInt(sum_fats),
          sum_protein: parseInt(sum_protein),
          food_type: foods.value.map((food) => food.name).join(","),
          gram: foods.value.reduce((acc, food) => acc + parseInt(food.gram), 0),
          sum_calories: sum_calories.value,
          meal_type: parseInt(props.mealId),
          customer_id,
        };

        await customersStore.addMenu(payload);

        await Vue.swal({
          icon: "success",
          title: "הארוחה נשמרה בהצלחה",
        });
        router.back();
      } else {
        // Show a warning if no foods were added
        await Vue.swal({
          icon: "warning",
          title: "אי אפשר לשמור את הארוחה",
          text: "לא הוזנו מאכלים, אין ארוחה בלי מאכלים :)",
        });
      }
      modalVisibility.saveMeal = false;
    };
    return {
      mealTypesToText,
      foods,
      sum_calories,
      modalVisibility,
      parsedMealType,
      toggleModal,
      addFood,
      saveMeal,
    };
  },
  components: { AddFoodModal, SaveCustomerMealModal },
});
</script>

<style scoped>
.card-footer {
  background: #2cabe2;
  border-color: #2cabe2;
  color: white;
  text-align: right;
}
</style>
