<template>
  <div class="text-light text-right">
    <h3>מידע כללי לתפריט -</h3>
    <CustomerTarget />
    <div class="dropdown-divider" />
    <h3>בניית תפריט לפי ארוחות</h3>
    <MealCategories to="/customers/menus" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CustomerTarget from "@/components/Employees/CustomerTarget.vue";
import MealCategories from "@/components/Meals/MealCategories.vue";

export default defineComponent({
  components: { CustomerTarget, MealCategories },
});
</script>
