<template>
  <div>
    <h2 class="bg-white text-primary rounded">
      ארוחת {{ mealTypesToText[mealId] }}
    </h2>
    <b-button
      :to="'/customers/menus/' + mealId + '/add'"
      class="my-5"
      variant="primary"
      pill
      >+ הוספת ארוחה</b-button
    >
    <b-card-group deck>
      <MealOptionCard
        v-for="(meal, index) in options"
        :key="meal.menu_id"
        :index="index"
        :sumCalories="meal.sum_calories"
        :foods="(meal.food_type ?? '').split(',')"
        :hideRadio="true"
      />
    </b-card-group>
  </div>
</template>

<script lang="ts">
import { MealTypes, mealTypesToText, Menu } from "@/definitions/Meals";
import { defineComponent, ref } from "vue";
import MealOptionCard from "@/components/Meals/MealOptionCard.vue";
import { useCustomersStore } from "@/stores/customersStore";

export default defineComponent({
  props: {
    mealId: {
      type: String,
      required: true,
    },
  },
  setup() {
    const options = ref<Menu[]>([]);
    return { mealTypesToText, options };
  },
  async created() {
    const store = useCustomersStore();
    const customerId = store.selectedCustomerId as number;
    const parsedMealType = parseInt(this.mealId) as MealTypes;
    this.options = (await store.fetchCustomerMenus(customerId))[parsedMealType];
  },
  components: { MealOptionCard },
});
</script>
